/************************/
/* HEADER */
/************************/

.header {
  padding: 2.4rem 4.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #e7f4e7;
}

.logo {
  height: 4.2rem;
}

/************************/
/* MAIN NAVIGATION */
/************************/

.nav {
  margin-right: 2rem;
}

.main-nav-list {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 4.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  text-decoration: none;
  font-weight: 600;
  font-size: 1.8rem;
  color: #333;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #107e0e;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  background-color: #129310;
  padding: 1.2rem;
  font-weight: 600;
  color: #fff;

  transition: all 0.3s;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #0d690c;
}

/************************/
/* HERO SECTION */
/************************/

.hero-section {
  background-image: url("../img/flower-background.jpg");
  background-size: cover;
}

.hero {
  height: 100vh;
  align-items: center;
}

.hero.grid {
  gap: 9.6rem;
}

.hero-section-text-box {
  justify-self: center;
  /* background-color: red; */
}

.hero-section-text {
  font-size: 2.4rem;
  line-height: 1.6;
  margin-bottom: 5.2rem;
}

.btn-hero-section{
  margin-right: 1.2rem;
}

.btn.learn-more:link,
.btn.learn-more:visited {
  background-color: #e7f4e7;
  color: #444;

  transition: all 0.3s;
}

.btn.learn-more:hover,
.brn.learn-more:active {
  background-color: #e7f4e700;
  box-shadow: inset 0 0 0 3px #e7f4e7;
}

/************************/
/* FLOWER SPECIES */
/************************/

.flower-species-img {
  width: 45%;
  justify-self: center;
}

.flower-species-text {
  font-size: 2.2rem;
  line-height: 1.6;
}

/************************/
/* GALLERY */
/************************/

.gallery {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
}

.gallery-item {
  overflow: hidden;
}

.gallery-item img {
  display: block;
  width: 100%;
  transition: all 0.3s;
}

.gallery-item img:hover {
  transform: scale(1.1);
}

/************************/
/* PRICING */
/************************/

.pricing-card {
  width: 95%;
}

.pricing-card-classic {
  padding: 3.6rem;
  border: 2px solid #d0e9cf;
}

.pricing-card-advanced {
  padding: 3.6rem;
  border: 2px solid #d0e9cf;
}

.pricing-card-flowerlover {
  padding: 3.8rem;
  background-color: #e7f4e7;
  position: relative;
  overflow: hidden;
}

.pricing-card-flowerlover::after{
  content: "Best Value";
  position: absolute;
  top: 7%;
  right: -21%;

  background-color: #ffd43b;
  font-size: 1.8rem;
  font-weight: 700;
  text-align: center;
  color: #333;
  padding: 0.8rem 8rem;
  text-transform: uppercase;
  transform: rotate(45deg);
}

.card-header {
  text-align: center;
  margin-bottom: 5.6rem;
}

.card-name {
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 700;
  color:#0d690c;
  margin-bottom: 2.4rem;
}

.card-price {
  font-size: 4.4rem;
  font-weight: 800;
}

.card-time {
  font-size: 1.6rem;
  color: #777;
}

.card-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.card-list-item {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.card-list-icon {
  width: 3rem;
  height: 3rem;
  color: #129310;
}

.card-signup-button {
  margin-top: 6.4rem;
  text-align: center;
}

.card-signup-button .btn:link{
  margin-right: 0;
}

.card-refund {
  margin-top: 1.2rem;
  text-align: center;
  font-size: 1.6rem;
  color: #777;
}

/************************/
/* CTA */
/************************/

.cta {
  padding: 6.4rem 8.4rem;
  background-image: linear-gradient(to right bottom, #70b26e, #40983e);
  /* background-color: #40983e; */
}

.cta-header{
  font-size: 4.8rem;
  font-weight: 800;
  color: #063206;
  margin-bottom: 3.6rem;
  text-align: center;
}

.cta-body {
  padding: 0 1.4rem;
}

.cta-body-text {
  font-size: 2.2rem;
  color: #063206;
  line-height: 3.8rem;
  margin-bottom: 3.6rem;
  text-align: center;
}

.cta-form {
  display: flex;
  flex-direction: column;
  gap: 2.8rem;
  text-align: center;
}

.cta-form label {
  display: block;
  color:#063206;
  font-size: 1.8rem;
  font-weight: 800;
  margin-bottom: 1rem;
}

.cta-form input,
.cta-form select {
  padding: 1.2rem;
  font-size: 1.8rem;
  width: 25%;
  border: none;
  font-family: inherit;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.cta-form input::placeholder {
  color: #aaa;
}

.btn.btn-form {
  padding: 2.2rem 4.2rem;
  width: 25%;
  align-self: center;
  margin-top: 2.4rem;
  border: none;
  background-color: #063206;
}

/************************/
/* CTA */
/************************/

.footer {
  padding: 12.2rem;
  border-top: 1px solid #063206;
}

.footer-socials {
  display: flex;
  flex-direction: column;
}

.grid--footer {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

.logo--footer {
  display: block;
  height: 2.8rem;
  margin-left: -0.7rem;
  margin-bottom: 2.4rem;
}

.social-icons {
  list-style: none;
  display: flex;
  gap: 2.2rem;
}

.social-icon {
  height: 2.4rem;
  width: 2.4rem;
}

.copyright {
  width: 80%;
  font-size: 1.4rem;
  margin-top: auto;
  color: #888;
}

.footer-contact-details {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 2.4rem;
  width: 80%;
}

.footer-header {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 3.6rem;
}

.address {
  margin-bottom: 3.6rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  color: #555;
  font-size: 1.6rem;

  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #333;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.8rem;
}